<h2> Hello, <%= @user.username %>! </h2>

<h1>
  ⚽️
</h1>

<button type="button" class="btn btn-outline-success"><%= link_to "Create a Player", new_player_path %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Create a Team", new_team_path %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Create a Competition", new_competition_path %></button>