<div class="home">
The EasyPitch was created with the idea to facilitate the amateur football by connecting:
  <ul>
    <li>Single Players to Teams</li>
    <li>Single Teams to Competitions</li>
    <li>Create and manage Competitions</li>
  </ul>
At the EasyPitch we respect the diversity so that men and women can play in the same team.
Footbal isn't just a game. Let's kick the racism out of the football! 
</div>

<div class="home_buttons">
  <button type="button" class="btn btn-outline-success"><%= link_to "Create a Player", new_player_path %></button>
  <button type="button" class="btn btn-outline-success"><%= link_to "Create a Team", new_team_path %></button>
  <button type="button" class="btn btn-outline-success"><%= link_to "Create a Competition", new_competition_path %></button>
</div>