<div class="home">
The EasyPitch was created with the idea to facilitate amateur football by connecting:
  <ul>
    <li>Single Players to Teams</li>
    <li>Single Teams to Competitions</li>
    <li>Create and manage Competitions</li>
  </ul>
<p>But, ended up being a football manager style game.</p>
<p> So, create a team, add your players, and start a new competition</p>
<p> Good luck !!!</p>
</div>