<h1>All Players ⚽️</h1>

Find by gender:
<button type="button" class="btn btn-outline-success"><%= link_to "Female Players", controller: "players", gender: "Female" %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "Male Players", controller: "players", gender: "Male" %></button>

<div class="players_index">
  <% @players.each do |player| %>
    <p><%= link_to player.name, player %></p>
  <% end %>
</div>