<h1>All Players ⚽️</h1>
<%= link_to "female players", controller: "players", gender: "Female" %>
<%= link_to "male players", controller: "players", gender: "Male" %>

<div class="players_index">
  <% @players.each do |player| %>
    <p><%= link_to player.name, player %></p>
  <% end %>
</div>