<h1>All Players ⚽️</h1>

<button type="button" class="btn btn-outline-success"><%= link_to "female players", controller: "players", gender: "Female" %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "male players", controller: "players", gender: "Male" %></button>

<div class="players_index">
  <% @players.each do |player| %>
    <p><%= link_to player.name, player %></p>
  <% end %>
</div>