/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-image: url("../background1.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  opacity: 1;
  height: 100%;
}

* {
  font-weight: bold;
  font-size: 20px;
 
}

a:link {
  color: black;

}

a:visited {
  color: black;
}

a:hover {
  color: white;
}



.players_index {
  -webkit-column-count: 5; /* Chrome, Safari, Opera */
  -moz-column-count: 5; /* Firefox */
  column-count: 5;
  column-rule-style: double;
  text-shadow: 10px;
  font-size: 15px;
}

.home {
  box-sizing: border-box;
  height: auto;
  width: 950px;
  padding: 40px;  
  background-color: lightgray;
  background: rgba(76, 175, 80, 0.5);
  border-radius: 25px;
  position: fixed;
  top: 25%;
  bottom: 50;
  left: 15%;
  right: 80%;
}

.home_buttons {
  height: auto;
  width: 950px;
  position: fixed;
  top: 62.5%;
  bottom: 55%;
  left: 27.5%;
  right: 75%;
}

.logo {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color: black;
}

.copyright {
  position: static;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.button {
  border-radius: 10px;
  color: #28a745;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative; 
  display: inline;
}

.button-box {
  display: flex;
  justify-content: flex-start;
}

.competition-box {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  column-rule-style: double;
  box-sizing: border-box;
  height: auto;
  width: 500px;
  padding: 30px;  
  background-color: lightgray;
  background: rgba(76, 175, 80, 0.5);
  border-radius: 40px;
}



.match {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  box-sizing: border-box;
  height: auto;
  width: 750px;
  padding: 20px;  
  background-color: lightgray;
  background: rgba(76, 175, 80, 0.5);
  border-radius: 30px;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: white;
  font-size: 20px;

}